@import 'color-schemer';

$cs-primary : #428bca;
$cs-scheme : tetrad; // mono, complement, triad, tetrad, analogic, accented-analogic
$cs-color-model: ryb;

$primary: cs-primary() !default;
$primary-light : ryb-adjust-hue(tint(set-saturation(cs-primary(), 60%),40),-8deg) !default;
$secondary: cs-secondary() !default; 
$tertiary: ryb-adjust-hue(set-saturation(cs-tertiary(), 100%),17deg) !default;
$quadrary : cs-quadrary() !default;

$black: shade($primary, 99%) !default;
$white : tint($primary, 99%) !default;

$gray:                   tint(set-saturation($primary, 5%),68%) !default;

$gray-darker:            shade($gray, 50%) !default;
$gray-dark:              shade($gray,30%) !default;

$gray-light:             tint($gray, 10%) !default;
$gray-lighter:           tint($gray, 13.5%) !default;